*.c
*.h
*.pickle
*.pyc
*.pysource
.idea/*
.mypy_cache/*
.nox/*
.venv*
HydPy.egg-info/*
build/*
dist/*
extra_python_sources/*
extra_wheel_sources/*
hydpy/aliases.py
hydpy/conf/HydPyConfigBase.xsd
hydpy/conf/mimetypes.txt
hydpy/cythons/autogen/*
!hydpy/cythons/autogen/__init__.py
hydpy/docs/auto/*
hydpy/docs/autofigs/*
!hydpy/docs/autofigs/__init__.py
hydpy/docs/bibliography/refs.bib.bak
hydpy/docs/html_/*
!hydpy/docs/html_/__init__.py
hydpy/tests/iotesting/*
!hydpy/test/iotesting/__init__.py
lib/*
make_hydpy_installer.cfg
release/*
temp/*
