*.spyderproject
*.spyderworkspace
*.pyc
*.c
*.h
temp
hydpy/cythons/autogen/*.pyd
hydpy/cythons/autogen/*.pyc
hydpy/cythons/autogen/*.pyx
hydpy/cythons/autogen/*.pxd
hydpy/cythons/autogen/*.c
hydpy/cythons/autogen/*.h
hydpy/docs/html/*.html
build
_build
dist
helpers
examples
coverage.html
coverage.xml
.coverage
HydPy.egg-info/*
MANIFEST
test.py
.spyproject/
