*.spyderproject
*.spyderworkspace
*.pyc
*.c
*.h
hydpy/cythons/autogen/*.pyd
hydpy/cythons/autogen/*.pyc
hydpy/cythons/autogen/*.pyx
hydpy/cythons/autogen/*.pxd
hydpy/cythons/autogen/*.c
hydpy/cythons/autogen/*.h
build
_build
dist
gui
helpers
examples
coverage.html
coverage.xml
.coverage
HydPy.egg-info/*
MANIFEST
test.py
.spyproject/
