language: python
os:
  - linux
cache: pip
python:
  - "2.6"
  - "2.7"
  - "3.1"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev"
  - "3.6"
  - "3.6-dev"
  - "3.7-dev"
  - "nightly"
# command to install dependencies
install:
  - pip install Cython --install-option="--no-cython-compile"
  - if [[ $TRAVIS_PYTHON_VERSION == "2.6" || $TRAVIS_PYTHON_VERSION == "3.1" || $TRAVIS_PYTHON_VERSION == "3.2" || $TRAVIS_PYTHON_VERSION == "3.3" ]]; then pip install numpy; else pip install numpy --upgrade; fi
  - pip install matplotlib
  - python setup.py install
# command to run tests
script: python test_everything.py test_as_site-package