language: python

os: linux

dist: focal

matrix:
  include:
    - python: 3.8
    - python: 3.11

install:
  - pip install --upgrade pip virtualenv
  - pip install --upgrade -r requirements.txt

script:
  - python prepare_build.py
  - python -m build
  - if [ $TRAVIS_PYTHON_VERSION == "3.8" ] ; then pip install ghp-import; fi
  - if [ $TRAVIS_PYTHON_VERSION == "3.8" ] ; then nox -s sphinx -- -W; fi
  - if [ $TRAVIS_PYTHON_VERSION == "3.8" ] ; then python hydpy/docs/combine_docversions.py ; fi
  - if [ $TRAVIS_PYTHON_VERSION == "3.11" ] ; then travis_wait 30 nox -s black -s pylint ; fi
  - if [ $TRAVIS_PYTHON_VERSION == "3.11" ] ; then nox -s doctest ; fi
  - if [ $TRAVIS_PYTHON_VERSION == "3.11" ] ; then nox -s check_consistency ; fi

env:
  global:
    - COVERAGE_PROCESS_START=/home/travis/build/hydpy-dev/hydpy/hydpy/tests/.coveragerc
    - secure: KkDNiyCWcOtSMHzwmR7WuUM9Z08sigox9fgiRaWtdDTNHGHbNRXCf6Rzr32QlThqu9SwwPd5VnEJkontzrG9uTL2rlEzCKJHp4Ncq0lmCBhOJEM7favpIGwjnWQt4kZZ+G/sy9rfV6rshiOMN2rHRkt1gYzRmHTPCEQQ5eVIb7/YnFO+Gc77FGgkqWJXTfYczUMHNL5F3pfdSUbnnsDoqq3dxZ+NtdY6R87+IOT9fclrsL8zcodJC8N2oyGeTfhRcrZESneVcR/NEx6KhVC8A9/8bWK7kc8cYB6ieLo31uU+Ht7UvDzXmXfZrA8FoRbiDaJ3ktW9RQ7BR0GKGyQm/y/bLUrR7Yo2AXLPrF1DvBt8DYvcnMkJ1sNOrJI+oOpfi7AfdxVJnGbWa8w4D5B6EJSCvQwOj1REXgOf8+VrOKUqZMxPCCDDOhKPSx3/9ng7NAT+yRk7pLqKVtJEEszYs2/wK8hask4JMaz9H06b+Dy5nHnr4RQffXPPwAArSZZdu9IC3/38Lqnk+HhUWZLbKnBMd8UdRbDdZ5aFAkK7ZLseiDaAzCE31FscQbNmwpUPgfxgz/ApWZSV/WHlVZvaNBPkK0DTk5b9iW3WeLOC+qXGYzBKTUHIFQbCKEh40P0pTeDlp0sK3bWnT0VPEXJhk0jEN60RrlB9lwLdSzJg4Gs=

after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == "3.8" ]]; then python publish_docs_copy.py ; fi
