
version: 6.0a0.{build}

image: Visual Studio 2019

environment:
  TokenPyPI:
    secure: kkjz662y19aSdDHa+tqlBLsUfJ6VUSNlU4zKumcZYBwCV2RS3CTK9FtxQKGm/OveW0PCY4i80ctDmWH0mCr5TstHTyr0JRs2p61X0skiqRFYj6l0PoR8n2GaMKntWPwILRKUvueYCzDLTIDGGHa2GNWHTAznrYs+nNSu+95zsLmroY1RY4NnhTPrL9RgiPNPT2EbMVmb7dLYAaMgEHqXveU3yRcpNsguuESChBSJOQROQE77JktPpykzSLJGP23c
  matrix:
    - PYTHON: "C:\\Python38-x64"
      make_exe: false
      python_mode: false
      cython_mode: true
    - PYTHON: "C:\\Python39-x64"
      make_exe: false
      python_mode: true
      cython_mode: false
    - PYTHON: "C:\\Python310-x64"
      make_exe: false
      python_mode: false
      cython_mode: true
    - PYTHON: "C:\\Python311-x64"
      make_exe: true
      python_mode: false
      cython_mode: false

install:
  - cinst nsis
  - set PATH=%PYTHON%;%PYTHON%\Scripts;%PATH%
  - python -m pip install --upgrade pip
  - python -m pip install -r requirements.txt
  - if %make_exe%==true python -m pip install pynsist
  - if %make_exe%==true python -m pip install lastversion
  - if %make_exe%==true python -m pip install regex
  - python -m pip install twine

build: off

before_test:
  - python prepare_build.py
  - python -m build
  - if %make_exe%==true python prepare_hydpy_installer.py
  - if %make_exe%==true pynsist make_hydpy_installer.cfg

test_script:
  - if %make_exe%==false nox -s doctest -- --python-mode=%python_mode% --cython-mode=%cython_mode%
  - if %make_exe%==true rename hydpy _hydpy
  - if %make_exe%==true python call_installer.py
  - if %make_exe%==true set PATH=C:/Users\appveyor\AppData\Local\Programs\HydPy\bin;%PATH%
  - if %make_exe%==true C:/Users\appveyor\AppData\Local\Programs\HydPy\bin\hyd.py.exe run_doctests

after_test:
  - "echo [pypi] > %USERPROFILE%\\.pypirc"
  - "echo username: __token__ >> %USERPROFILE%\\.pypirc"
  - "echo password: %TokenPyPI% >> %USERPROFILE%\\.pypirc"
  - ps: if ($env:APPVEYOR_REPO_TAG -eq "true") { Invoke-Expression "twine upload --skip-existing dist/*"} else { write-output "No tag, no deploy"}
    
artifacts:
  - name: Packages
    path: dist\*
  - name: Installer
    path: build\nsis\HydPy*.exe
  - name: XSDs
    path: _hydpy\conf\*.xsd

deploy:
  description: 'This is a draft.'
  provider: GitHub
  auth_token:
    secure: I4WxoGEFdS0kxOjdIAhyEW/Jplw6aqke0AP1QgE4IdXJ7aQAifXYINf0QnbiyV1/
  artifact: Packages,Installer,XSDs
  draft: true
  prerelease: false
  on:
    APPVEYOR_REPO_TAG: true
