global-exclude *.*
include .gitignore
include LICENSE
include pylintrc
include appveyor.yml
include .travis.yml
include licenses_hydpy_installer.txt
include requirements.txt
include pyproject.toml
include README.rst
include logo.ico
include make_hydpy_installer.cfgt
include *.py
include hydpy/*.py
include hydpy/py.typed
include hydpy/*/*.py
include hydpy/*/*/*.py
include hydpy/conf/*.xsd
include hydpy/conf/*.xsdt
include hydpy/conf/*.npy
include hydpy/cythons/*.pyi
include hydpy/cythons/*.pyx
include hydpy/cythons/*.pxd
include hydpy/cythons/autogen/*.pyi
include hydpy/cythons/autogen/*.pyx
include hydpy/cythons/autogen/*.pxd
include hydpy/docs/bib/*.bib
include hydpy/docs/figs/*.png
include hydpy/docs/rst/*.rst
include hydpy/tests/hydpydoctestcustomize.pth
include hydpy/tests/.coveragerc
graft hydpy/data*
global-exclude *.pyc
