attrs
black
bokeh == 2.4.3
build
click
coverage
Cython
docutils
lastversion
matplotlib
netcdf4 < 1.6; python_version == "3.7"
netcdf4; python_version > "3.7"
networkx==2.8.8
nox
numpy == 1.23.0
packaging
pandas
plotly
pylint != 2.15.*
pynsist
setuptools
typing_extensions
scipy
sphinx
sphinxcontrib-bibtex
sphinxcontrib-fulltoc
wheel
wrapt
xmlschema
