attrs
black
bokeh < 3.0.0
build
click
coverage
Cython
docutils
lastversion
matplotlib
netcdf4 < 1.6; python_version == "3.7"
netcdf4; python_version > "3.7"
networkx
nox
numpy
packaging
pandas
plotly
pylint != 2.15.*
pynsist
setuptools
typing_extensions
scipy
sphinx
sphinxcontrib-bibtex
sphinxcontrib-fulltoc
wheel
wrapt
xmlschema
